# Auto detect text files and perform LF normalization
* text=auto

# Application Source files
*.js text eol=lf
*.jsx text eol=lf
*.js.map text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
.editorconfig text eol=lf
.npmignore text eol=lf
.npmrc text eol=lf
Procfile text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
