# Source Files
/src

# Test Files
/dist/__tests__/*
/dist/*.test.ts
/dist/*.test.d.ts
/dist/*.test.js
/dist/*.test.js.map
/dist/*.spec.ts
/dist/*.spec.d.ts
/dist/*.spec.js
/dist/*.spec.js.map

# Other
.git
node_modules
*.tgz
*.log
.vscode
yarn.lock
tslint.json
.tsfmt.json
.editorconfig
.gitattributes
