# Test Files
/src/__tests__/*
/src/*.test.ts
/src/*.test.d.ts
/src/*.test.js
/src/*.test.js.map
/src/*.spec.ts
/src/*.spec.d.ts
/src/*.spec.js
/src/*.spec.js.map

# Other
.git
node_modules
*.tgz
*.log
.vscode
